


/* The grid: 4 columns that float next to each other */
.column {

  padding: 10px;
  text-align: center;
}

/* Style the images inside the grid */

.column img {

  cursor: pointer;
  width: 300px;
  height: 230px;
}

.column img:hover {
  opacity: 1;
}

.hoverOverPls {

  cursor: pointer;
  transition: 0.3s;
}

.hoverOverPls:hover {opacity: 0.7;}

/* Style images in grid */

.row {
   display: grid;
   grid-template-columns: 305px 305px 305px 305px;
   padding: 15px 15px 15px 15px;
}

/* Style menu items in menu */

.menu {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  font-family: Arial;
  color: black;
  margin-left: auto;
  margin-right:auto;
  width: 800px;
  text-align: center;


}

.menu a {
  color:black;
  }


.textAbout {
  width:600px;
  text-align: center;
  margin: auto;
  }

.aboutPhotographers {
  width: 800px;
  text-align: center;
  margin: auto;
  }

.aboutPrice {
  width: 800px;
  text-align: center;
  margin: auto;

}

.lighthouse {
 margin: auto;
 }


.groupPhoto{

  width: 800px;
  padding: 15px 15px 15px 15px;
  margin: auto;

  }


/* Style inputs with type="text", select elements and textareas */

.container {
  width: 600px;
  margin: auto;
  }

.container input[type=text], select, textarea {
  width: 70%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email] {
  width: 70%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Submit button style */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Change to a darker green color when mouse hover over button */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


#subject {
  height:200px;
  }

/* The Modal Window */

#myImg {

  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  font-size: 14px;
}

.price {
  color: grey;
  font-size: 16px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
}

.card button:hover {
  opacity: 0.7;
}

#email {

 color: black;
 }


#map {
 height: 400px;
 /* The height is 400 pixels */
 width: 100%;
 /* The width is the width of the web page */
}

.footer {
  width:200px;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  padding: 10px 10px 10px 10px;
  margin: auto;
 }

#price_button a:visited{
text-decoration: none;
color: white;
}

.alert {
  margin-bottom: 1em;
  padding: 10px;
  background: #4CAF50;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border-radius: 2.5px;
  display: none;
}
